name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    strategy:
      matrix:
        include:
          # Chameleon with Docker  
          - resource: chameleon
            endpoint_uuid: '9d0d3c7a-8c72-4352-8502-6a3764b832d6' # 'f3a49da8-248a-4303-a644-23c34f92d005'
            user_endpoint_config: '{ "WORKER_INIT": "export MGLTOOLS_HOME=/opt/conda/envs/parsldockenv PD_CACHE=/home/cc/pd_cache", "WORKING_DIR": "/home/cc" }'
            clone_endpoint_config: '{ "WORKING_DIR": "/home/cc"}'
            pd_cache: /home/cc/pd_cache

          # TAMU FASTER
          - resource: faster
            endpoint_uuid: '49c363fc-27f2-4cd2-ac6c-61e9a70fef11'
            user_endpoint_config: '{ "PROVIDER": "compute", "WORKER_INIT": "export MGLTOOLS_HOME=/scratch/user/u.vh86741/.conda/envs/parsldockenv PD_CACHE=/scratch/user/u.vh86741/pd_cache", "WORKING_DIR": "/scratch/user/u.vh86741/" }'
            clone_endpoint_config: '{ "WORKING_DIR": "/scratch/user/u.vh86741/", "PROVIDER": "login"}'
            pd_cache: /scratch/user/u.vh86741/pd_cache

          # SDSC Expanse
          - resource: expanse
            endpoint_uuid: 'f552060f-d470-42af-b03d-054bef373aa4'
            user_endpoint_config: '{ "PROVIDER": "compute", "WORKER_INIT": "export MGLTOOLS_HOME=/home/vhayot/miniconda3/envs/parsldockenv PD_CACHE=/expanse/lustre/projects/chi150/vhayot/pd_cache; module load slurm; module load cpu", "WORKING_DIR": "/expanse/lustre/scratch/vhayot/temp_project" }'
            clone_endpoint_config: '{ "WORKING_DIR": "/expanse/lustre/scratch/vhayot/temp_project", "PROVIDER": "login"}'
            pd_cache: /expanse/lustre/projects/chi150/vhayot/pd_cache

    # name: Rux tox
    runs-on: ubuntu-latest
    environment: hpcci

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11.4'
          cache: 'pip'
      - name: execute tests
        id: pytest
        uses: globus-labs/correct@v1
        with:
          client_id: ${{ secrets.GLOBUS_COMPUTE_CLIENT_ID }}
          client_secret: ${{ secrets.GLOBUS_COMPUTE_CLIENT_SECRET }}
          endpoint_uuid: ${{ matrix.endpoint_uuid }}
          shell_cmd: "cd gc-action-temp/parsl-docking-tutorial && pip install --no-index --find-links=${{ matrix.pd_cache }} . pytest && pytest --durations=0"
          user_endpoint_config: ${{ matrix.user_endpoint_config }}
          clone_endpoint_config: ${{ matrix.clone_endpoint_config }}
      - name: Archive output stdout
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-stdout-${{ matrix.endpoint_uuid }}
          path: ${{ steps.pytest.outputs.stdout }}
      - name: Archive output stderr
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-stderr-${{ matrix.endpoint_uuid }}
          path: ${{ steps.pytest.outputs.stderr }}
      - name: Print Output
        if: success() || failure()
        id: output
        run: echo "${{ steps.test-action.outputs.response }}"
